.container {
  display: flex;
  align-items: center;
}

.title {
  font-weight: bold;
  background-color: bisque;
  width: 100%;
  margin-right: 10px;
}

.subtitle {
  margin-right: 10px;
  background-color: rgb(113, 96, 74);
}

.image {
  margin-right: 10px;
  width: 50px;
  background-color: rgb(196, 255, 243);
}